

.main-container {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;
}

.left-section, .right-section {
    flex: 1;
    margin: 10px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 10px;
}

input[type="text"], input[type="number"] {
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    gap: 30px;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

table th {
    background-color: rgba(255, 255, 255, 0.2);
}

a {
    color: #ff4d4d;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}


.modal {
    display: none;
    /* Other modal styles */
}

.modal.show {
    display: block;
}
